// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  // top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


// content-container
.content-container{
	padding-top:$spacer*2;
	height:100vh;
}


.index-cards-container {
	padding:0;
}


.index-large {
	height: 100%;
}

// Random

.border-green {
	border: 1px solid green;
}

.border-red {
	border: 1px solid red;	
}

.border-blue {
	border: 1px solid blue;	
}

.border-yellow {
	border: 1px solid yellow;	
}

.border-dashed {
	border: 1px dashed gray;	

}