// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

html, 
body,
{
  // border: 2px blue solid;
  // height: 100%;
}

.home-row {
  // height: 100%;
}



// Index css

/*
 * Main showcase
 */

 .flex-row {
  flex:1;
}

.index-thumb {
  background-size:cover;
  // border: 1px solid black;
  height:100%;
}


.tall {
  height:80vh;
}

@include media-breakpoint-down(sm) {.tall { height:40vh; }}


/*
 * Sidebar
 */

 .sidebar {
  // border: 1px solid black;
  position: fixed;
  // top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item { 
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


// Index, categories, pages, etc content container

.content-container {
  height: 100%;
  width: 100%;
  padding: 0;
  // padding:0 !important;
  // border: 1px black solid;
}


/*
 *  Flexbox try
 *
 */

// Flex-container:

.flex-container {
  display:flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  // border:1px red solid; 

  .flex-triplets {
    display: flex;
    flex-direction: column;
    height:100%;
    // border-radius: 10px; 
  }
}

.flex-columns {
  flex:1;
  background-size: cover; 
  margin-right:$spacer/2
  // border: dashed 1px green;
}

.flex-rows {
  flex:1;
  background-size: cover; 
  border: black solid 2px;


}

.row-1{ margin-bottom:$spacer/2 }
.row-2{ margin-bottom:$spacer/2 }
.row-3{  }



/*
 *  Footer
 */


 footer {
  height: 2rem;
}