<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">


  {% endblock head %}
</head>



<body id="index" class="home">

  <div class="row container-fluid home-container">

    <!-- Load sidebar content -->
    <div class="col-md-3">
      <div class=" sidebar-container bg-warning">  
        {% include "sidebar.html" %}
      </div>
    </div>

    <!-- Load Page content -->
    <div class="col-md-9">
      <div class="content-container bg-success">
        {% block content %}
        {% endblock %} 
      </div>
    </div> 


  </div>  <!-- /home-container row -->
  
  {# ===================== footer ======== #}

  <footer id="contentinfo" class="body border-blue">
    <address id="about" class="vcard body text-muted">
      footer
    </address><!-- /#about -->
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/vendor.js"></script>


    <script type="text/javascript" src="{{ SITEURL }}/theme/js/own.js"></script>

  </footer><!-- /#contentinfo -->


</body>
</html>
