<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />

<!-- Ensure proper rending and touch zooming for all devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700" rel="stylesheet">
  


  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">

  {% endblock head %}
</head>



<body id="index" class="home">

  <div class="row container-fluid home-container">

    <!-- Load sidebar content -->
    <div class="col-md-3">
      <div class=" sidebar-container">  
        {% include "sidebar.html" %}
      </div>
    </div>

    <!-- Load extra content -->
    <div class="col-md-2" style="display:none">
      <div class=" sidebar-container">  
        Nada
      </div>
    </div>


    <!-- Load Page content -->
    <div class="col-md-9" style="height:100%;">
      <div class="content-container" style="height:100%;">
        {% block content %}
        {% endblock %} 
      </div>
    </div> 


  </div>  <!-- /home-container row -->
  
  {# ===================== footer ======== #}

  <footer id="contentinfo" class="body border-blue">
    <address id="about" class="vcard body text-muted">
      footer | remplazable
    </address><!-- /#about -->
    


    <script type="text/javascript" src="{{ SITEURL }}/theme/js/vendor.js"></script>


    <script type="text/javascript" src="{{ SITEURL }}/theme/js/own.js"></script>


   

  </footer><!-- /#contentinfo -->


</body>
</html>
