{% extends "base.html" %}
{% block content %}

<section id="content">   <!-- This section dividers are not really needed. delete? -->

  <div class="row main-row no-gutters">

    <!--1-->
    <div class="col-md-4 p-1 tall">
      <a href="#">
        <div class="index-thumb lazy" data-background="{{ SITEURL }}/images/architecture.jpg"></div>
      </a>
    </div>

    <!--2-->
    <div class="col-md-4 p-1 tall">
      <a href="#">
        <div class="index-thumb lazy" data-background="{{ SITEURL }}/images/decouverte.jpg"></div>
      </a>
    </div>

    <!--3-->
    <div class="col-md-4 tall small d-flex flex-md-column">
  
      <!--3.1-->
      <div class="flex-row p-1">
        <a href="#">
          <div class="index-thumb lazy debug2" data-background="{{ SITEURL }}/images/danse.jpg"></div>
        </a>
      </div>

      <!--3.2-->

      <div class="flex-row p-1">
        <a href="#">
          <div class="index-thumb lazy debug2" data-background="{{ SITEURL }}/images/collage.jpg"></div>
        </a>
      </div>

      <!--3.3-->

      <div class="flex-row p-1">
        <a href="#">
          <div class="index-thumb lazy debug2" data-background="{{ SITEURL }}/images/identitevisuelle.jpg"></div>
        </a>
      </div>


    </div> 

  </div> <!-- /main-row -->




  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}

</section><!-- /#content -->

{% endblock content %}
