{% extends "base.html" %}
{% block content %}
<section id="content">

  {# <div class="container-fluid index-card-container border-blue">
    <div class="card-columns">

      <div class="card">
        <img class="card-img-top img-fluid" src="{{ SITEURL }}/images/decouverte.jpg" alt="">
      </div>

      <div class="card">
        <img class="card-img-top img-fluid" src="{{ SITEURL }}/images/architecture.jpg" alt="">
      </div>
      
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ SITEURL }}/images/collage.jpg" alt="">
      </div>
      
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ SITEURL }}/images/danse.jpg" alt="">
      </div>
      
      <div class="card">
      <img class="card-img-top img-fluid" src="{{ SITEURL }}/images/identitevisuelle.jpg" alt="">
      </div>
      
    </div>
  </div> #}



  <div class="container-fluid index-container border-blue">

    <div class="row">

      <div class="col-md-4">
        <div class="card index-large lazy" data-background="{{ SITEURL }}/images/decouverte.jpg">
        </div>
      </div>

      <div class="col-md-4 index-large">
        <div class="card index-large lazy" data-background="{{ SITEURL }}/images/architecture.jpg">
        </div>
      </div>

      <div class="col-md-4 index-large">

        <div class="row index-small">
          <div class="card index-large lazy" data-background="{{ SITEURL }}/images/danse.jpg">
          </div>
        </div>

        <div class="row index-small">
          <div class="card index-large lazy" data-background="{{ SITEURL }}/images/architecture.jpg">
          </div>
        </div>

        <div class="row index-small">
          <div class="card index-large lazy" data-background="{{ SITEURL }}/images/identitevisuelle.jpg">
          </div>
        </div>



      </div>


    </div>

  </div>

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
