{# SIdebar #}


<nav class="navbar navbar-light navbar-toggleable-sm sidebar">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="flex-column">

		<a class="navbar-brand">Navbar</a>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="nav flex-column">
				<li class="nav-item">      
					<a class="nav-link" href="#">Overview</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Reports</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Analytics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Export</a>
				</li>
			</ul>
		</div> <!-- /collapse -->

	</div>
</nav>