{# SIdebar #}



<div class="row no-gutters text-center">	
	<a class="brand hidden-sm-down">Sylvia Moulin</a>
</div>


<div class="row no-gutters">
	

	<div class="col-lg-6">
		
		<nav class="navbar navbar-light navbar-toggleable-sm sidebar">

			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="nav-bar brand hidden-md-up">Sylvia Moulin</a>



			<div class="flex-column">

				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="nav nav-pills flex-column">

						<li class="nav-item">      
							<a class="nav-link" href="#">Parcours</a>	
						</li>

						<li class="nav-item indent">
							<a class="nav-link " href="#">.Architecture</a>
						</li>
						<li class="nav-item indent">
							<a class="nav-link " href="#">.Identité Visuelle</a>
						</li>
						<li class="nav-item indent">
							<a class="nav-link " href="#">.Danse</a>
						</li>
						<li class="nav-item indent">
							<a class="nav-link " href="#">.Découverte</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">CV</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Prestations</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div> <!-- /collapse -->

			</div>
		</nav>

	</div> <!-- /colum-md-6 -->





	<div class="col-lg-6 infobar">
		<p class="infotext text-justify">
			Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem sumus), sic amicitiam non spe mercedis adducti sed quod omnis eius fructus in ipso amore inest, expetendam putamus.</p>
	</div> <!-- /colum-md-6 -->


</div>